<div id="myabout" style="background-color: #c2b9df; padding: 100px; border: 2px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);"class="jumbotron">
    <h1 class="display-4">Hello,People! </h1>
    <p class="lead">This is a simple Todo-List that helps you keep track of all your todo tasks in a day.</p>
    <hr class="my-4">
    <p>This todo list is made by using Angular JS.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Let's go to our Todo</a>
    </p>
  </div>
